// Bulma Import
@import '~bulma';

@font-face {
    font-family: 'ring';
    src: url('./fonts/RingbearerMedium-51mgZ.ttf') format('truetype');
}

@font-face {
    font-family: 'aqrada';
    src: url('./fonts/AQRADA.otf');
}